@font-face {
  font-family: "iconfont"; /* Project id 2805686 */
  src: url('iconfont.woff2?t=1631857811389') format('woff2'),
       url('iconfont.woff?t=1631857811389') format('woff'),
       url('iconfont.ttf?t=1631857811389') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sucai:before {
  content: "\e671";
}

.icon-fasong1:before {
  content: "\e672";
}

.icon-sucai2:before {
  content: "\e66f";
}

.icon-huashu2:before {
  content: "\e670";
}

.icon-juzhun:before {
  content: "\e658";
}

.icon-huashu:before {
  content: "\e65e";
}

.icon-wenjianjia1:before {
  content: "\e652";
}

.icon-quxiao1:before {
  content: "\e65b";
}

.icon-genjinren1:before {
  content: "\e65c";
}

.icon-shangyibu1:before {
  content: "\e66b";
}

.icon-huoke1:before {
  content: "\e66c";
}

.icon-quxiao21:before {
  content: "\e66d";
}

.icon-dianzan1:before {
  content: "\e66e";
}

.icon-bianji:before {
  content: "\e646";
}

.icon-diqu:before {
  content: "\e647";
}

.icon-fasong:before {
  content: "\e648";
}

.icon-dingwei:before {
  content: "\e649";
}

.icon-gongzuotai:before {
  content: "\e64b";
}

.icon-kai:before {
  content: "\e64c";
}

.icon-gongzuotai2:before {
  content: "\e64d";
}

.icon-kehu2:before {
  content: "\e64f";
}

.icon-guan:before {
  content: "\e651";
}

.icon-laizi:before {
  content: "\e654";
}

.icon-piliangcaozuo:before {
  content: "\e655";
}

.icon-shaixuan:before {
  content: "\e656";
}

.icon-shangla:before {
  content: "\e657";
}

.icon-kehu:before {
  content: "\e659";
}

.icon-shangsheng:before {
  content: "\e65a";
}

.icon-shijian:before {
  content: "\e65d";
}

.icon-xiayibu2:before {
  content: "\e65f";
}

.icon-sousuo:before {
  content: "\e660";
}

.icon-tianjia3:before {
  content: "\e661";
}

.icon-xinjian:before {
  content: "\e662";
}

.icon-xiala:before {
  content: "\e663";
}

.icon-xiajiang:before {
  content: "\e664";
}

.icon-xinjianwenjianjia:before {
  content: "\e665";
}

.icon-xiayibu:before {
  content: "\e666";
}

.icon-xuanze:before {
  content: "\e667";
}

.icon-xiala2:before {
  content: "\e668";
}

.icon-yingxiao:before {
  content: "\e669";
}

.icon-gengduo:before {
  content: "\e66a";
}