.workbench {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: "PingFang SC";
}
.workbench .top {
  padding: 1.4rem 1.5rem;
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.workbench .span {
  font-size: 1.6rem;
  color: #343845;
  font-weight: 500;
}
.workbench .hr {
  width: 100%;
  height: 1rem;
  background-color: #F2F3F7;
}
.workbench .top-nav {
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid #F3F3F3;
}
.workbench .nav-box {
  height: 5rem;
  line-height: 5rem;
}
.workbench .active {
  color: #4066D4;
  position: relative;
}
.workbench .active:after {
  content: '';
  position: absolute;
  width: 50%;
  border-bottom: 0.2rem #4066D4 solid;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 0.125rem;
}
.workbench .errWrap {
  margin-top: 2rem;
}
.workbench .pull {
  flex: 1;
  overflow: auto;
}
.workbench .content {
  margin-bottom: 5rem;
  padding-left: 1.5rem;
  /* min-height: calc(100vh - 14rem); */
}
.workbench .content-block {
  padding: 1.5rem 1.5rem 1.3rem 0;
  font-size: 1.4rem;
  color: #7D8394;
  border-bottom: 0.1rem solid #F3F3F3;
}
.workbench .task-name {
  font-size: 1.4rem;
  color: #343845;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  flex: 1;
}
.workbench .tite {
  display: flex;
  align-items: center;
}
.workbench .task {
  margin-top: 0.8rem;
}
.workbench .push-date {
  margin-top: 0.6rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.workbench .state {
  position: relative;
  text-align: center;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  color: #F3301E;
  margin-right: 0.9rem;
}
.workbench .stateBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #E77878;
  opacity: 0.1;
  border-radius: 0.2rem;
}
.workbench .overdue {
  font-size: 1.2rem;
  color: #FA5252;
  margin-left: 1.5rem;
}
.workbench .surplus {
  color: #1890FF;
  margin-left: 1.5rem;
}
